@charset "UTF-8";

@import "compass/reset";

$browser-default-font-size:20 !default;//变量的值可以根据自己需求定义

@mixin remCalc($property, $values...) {
  $max: length($values);//返回$values列表的长度值
  $remValues: '';

  @for $i from 1 through $max {
    $value: nth($values, $i);
    $remValues: #{$remValues + $value/$browser-default-font-size*1}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $remValues;
}

.content{
  padding: 24px 20px;
  h2{
    @include remCalc(font-size,18);
    @include remCalc(line-height,22);
    font-weight: bold;
    color: #444;
    @include remCalc(margin-bottom,10);
    @include remCalc(margin-top,10);
  }
  h3,h4{
    @include remCalc(font-size,16);
    font-weight: bold;
    @include remCalc(line-height,22);
    color: #444;
    @include remCalc(margin-bottom,10);
    @include remCalc(margin-top,10);
  }

  p{
    font-family:"Heiti SC";
    @include remCalc(font-size,14);
    @include remCalc(line-height,22);
    color: #999;
    text-align: justify;
  }
  table{
    td,th{
      padding: 5px;
      border:1px solid #666;
      text-align: center;
      color: #666;
      @include remCalc(font-size,14);
    @include remCalc(line-height,18);
    }
  }
}


