@charset "UTF-8";
@import "compass/reset";

// 全局背景颜色
$bgcolor:#fff;

$pColor:#999;

$h2Color:#444;


/*
 * 单位换算
 */
$browser-default-font-size:20 !default;//变量的值可以根据自己需求定义

@mixin remCalc($property, $values...) {
  $max: length($values);//返回$values列表的长度值
  $remValues: '';

  @for $i from 1 through $max {
    $value: nth($values, $i);
    $remValues: #{$remValues + $value/$browser-default-font-size*1}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $remValues;
}


 /* 切图按照最大640
 */
body{
    @include remCalc(font-size,10);
    font-family: Arial,Helvetica,sans-serif;
    margin: 0px auto;
    min-width: 320px;
    max-width: 640px;
    min-height: 100%;
    background-color: $bgcolor;
}

